<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Document</title>
</head>
<body>
<div class="main">
    <div class="board_wrap cell list">
        <div class="board-list box cell">
            <a class="text cell">보드 목록</a>
            <button class="board-add">+</button>
            <div class="list-view cell"></div>
        </div>
    </div>

    <div class="view_wrap cell">
        <div class="btn-wrap cell">
            <button class="btn" id="status-btn">상태별 조회</button>
            <button class="btn" id="member-btn">맴버별 조회</button>
            <button class="btn" id="col-add">컬럼 추가</button>
        </div>
        <div class="col-view cell"></div>
    </div>

    <div class="user_wrap cell list">
        <div class="user-list box cell">
            <a class="user-view">유저목록</a>
        </div>
    </div>
</div>
</body>
<script src="/js/test.js"></script>
</html>