<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원가입 페이지</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script>
        function SignupForm() {
            let username = $('#username').val();
            let password = $('#password').val();

            $.ajax({
                type: "POST",
                url: "/api/user/signup",
                contentType: "application/json",
                data: JSON.stringify({username: username, password: password}),
                success: function (data) {
                    alert("회원가입 성공");
                    window.location.href = "/api/user/login-page";
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert("회원가입 실패: " + xhr.responseText);
                }
            });
        }
    </script>
</head>
<body>
<div id="login-form">
    <div id="login-title">Sign up Select Shop</div>

    <div class="login-id-label">Username</div>
    <input type="text" id="username" placeholder="Username" class="login-input-box">

    <div class="login-id-label">Password</div>
    <input type="password" id="password" class="login-input-box">

    <button id="login-id-submit" onclick="SignupForm()">회원 가입</button>
</div>
</body>
</html>
